.main {
    width: 100%;
    height: 85vh;
    display: flex;
    background-color: rgba(248, 249, 250, 0.5);
    background-image: url(./joey-banks-YApiWyp0lqo-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.signup-form-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.signup-header p{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

.signup-main-text {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.signup-sub-text {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #555;
}

.signup-textfields {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;

    label {
        font-size: 12px;
        font-weight: 700;
        color: #333;
    }

    input {
        width: 250px;
        height: 40px;
        font-size: 12px;
        padding: 8px;
        border: 1px solid #ced4da;
        border-radius: 5px;
        outline: none;

        &:focus {
            border-color: #007bff;
        }
    }
}

.signup-btn {
    width: 100%;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    font-weight: bold;
    color: #fff;
    background:linear-gradient(130deg, #3280f5, #9b9a9b) !important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #004b9c;
    }
}

.signup-to-login {
    color: #007bff;
    margin-top: 12px;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
        color: #004b9c;
        font-weight: bold;
        text-decoration: underline;
    }
}

.forgot-password {
    text-align: right;
    color: #555;
    font-size: 14px;
    margin-top: 8px;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
        color: #007bff;
    }
}

.signup-footer {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: #fff;
}
.signup-footer p{
    color: black;
}
