.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #f0f0f0;
}

.image-wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    width: 80%;
    max-width: 400px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
}

.signup-form-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-header {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
}

.signup-main-text {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.signup-sub-text {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #555;
}

.signup-textfields {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;

    label {
        font-size: 16px;
        font-weight: 700;
        color: #333;
    }

    input {
        width: 100%;
        height: 40px;
        font-size: 16px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;

        &:focus {
            border-color: #3D9769;
        }
    }
}

.signup-btn {
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #3D9769;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #387668;
    }
}

.signup-to-login {
    color: #3D9769;
    margin-top: 12px;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
        color: #387668;
    }
}

.forgot-password {
    text-align: right;
    color: #555;
    font-size: 14px;
    margin-top: 8px;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
        color: #387668;
    }
}

.signup-footer {
    display: flex;
    flex-direction: column;
}