.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-image: url('./joey-banks-YApiWyp0lqo-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: aliceblue;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 360px;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);


}

@keyframes popInBox {
    from {
        transform: translateY(-50px) scale(0.5);
        opacity: 0;
    }
    to {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

.form {
    width: 100%;
    font-size: 12px;
    background-color: aliceblue;
}

.login-container {
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.form h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 25px;
}

.form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.form button {
    width: 100%;
    padding: 12px;
    background:linear-gradient(130deg, #3280f5, #9b9a9b) !important;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
    font-size: 12px;
    font-weight: bold;
}

.form button:hover {
    background:linear-gradient(130deg, #0066ff, #5c5b5c) !important;
}

.forgot-password {
    font-size: 12px;
    cursor: pointer;
    text-align: right;
}

.forgot-password:hover {
    text-decoration: underline;
}

.welcome-text {
    text-align: left;
    padding: 5px 40px;
    margin-bottom: 30px;
    background:linear-gradient(130deg, #3280f5, #9b9a9b) !important;
    border-radius: 10px;
}

.welcome-text h3 {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
