.footer{
    background: #000000;
    padding-top: 50px;
    padding-bottom: 15px;
}

.footer__logo i{
    color: #ffffff;
    font-weight: bold;

}
.footer__logo span{
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}
.footer__logo-content{
    color:#fff;
    margin-top: 15px;
    margin-right: 20px;
    line-height: 25px;
    text-align: justify;
}

#quick__link{
    border: none;
    background: transparent !important;
}
#quick__link a{
    color:#fff;
    text-decoration: none;
    font-weight: 300;
    transition: 0.3s;
}
#quick__link a:hover{
    color: #ff0000;
    text-decoration: underline;
}
.footer__link-title{
    color: #ffffff;
}
.office__info{
    color:#fff;
    font-weight: 300;
}

.mb-4 p{
    color: #fff;
}

.newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    background: #ffffff;
}
.newsletter input{
    background: transparent;
    color: #000000;
    border: none;
    outline: none;
    font-size: 0.8rem;
}
.newsletter span i{
    color: #000000;
}
.footer__bottom{
    border-top: 2px solid #fff;
}

.footer__bottom p{
    color: #fff;
}