.slider__item {
    width: 100%;
    height: 650px; /* Adjust height as needed */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.slider__item-01 {
    background: linear-gradient(rgb(182, 255, 187, 0.7), rgb(182, 255, 187, 0.7)), url('../assets/all-images/slider-img/slider-1.jpeg');
}

.slider__item-02 {
    background: linear-gradient(rgb(182, 255, 187, 0.7), rgb(182, 255, 187, 0.7)), url('../assets/all-images/slider-img/slider-2.jpeg');
}

.slider__item-03 {
    background: linear-gradient(rgb(182, 255, 187, 0.7), rgb(182, 255, 187, 0.7)), url('../assets/all-images/slider-img/slider-3.jpg');
}

.hero__slider {
    overflow: hidden;
}

.slider__content {
    padding-top: 160px;
}

.slider__content h1,
.slider__content h4,
.slider__content h6 {
    font-size: 3.8rem;
    font-weight: 600;
    color: #000;
}

.reserve__btn {
    background: linear-gradient(135deg, #FFFF00, #32CD32) !important;
    color: #040404;
    border: none;
    outline: none;
}

.reserve__btn a {
    text-decoration: none;
    font-weight: 600;
}

.text-light {
    --bs-text-opacity: 1;
    color: #000 !important;
}
